@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Poetsen+One&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 100vp;
    background-color: #6A636A;
    color: #FFF;
}

.apresentacao {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100vw;
    margin: 8% auto;
}

.apresentacao__titulo {
    font-size: 64px;
    font-family: "Akaya Kanadaka", system-ui;
    margin-bottom: 83px;
}

.apresentacao__logo {
    display: flex;
    flex-direction: column;
}

.apresentacao__imagens {
    display: flex;
}

#imagem1 {
    width: 340px;
    height: 425px;
}

#imagem2 {
    width: 246px;
    height: 438px;
}

.apresentacao__login {
    display: flex;
    flex-direction: column;
    background-color: #FFF;
    color: #6A636A;
    width: 450px;
    height: 100%;
    gap: 10px;
    border-radius: 10px;
    padding: 10%;
}

.apresentacao__login__titulo {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    font-family: "Poetsen One", sans-serif;
    margin-top: 51px;
    margin-bottom: 10px;
}

.apresentacao__login__subtitulo {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
    font-family: "Public Sans", sans-serif;
    margin-bottom: 56px;
}

.apresentacao__login__label {
    transition: .5s;
    pointer-events: none;
    font-family: "Public Sans", sans-serif;
}

.apresentacao__login__input__container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #6A636A;
}

.apresentacao__login__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: none;
}

.apresentacao__login__input {
    width: 100%;
    padding: 2%;
    outline: 0;
    background: transparent;
    border: none;
    margin-bottom: 1%;
    color: #888;
}


.apresentacao__login__input-container i {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(-50%);
    color: #888;
}

.apresentacao__login__btn {
    width: 100%;
    margin: 20px auto;
    background-color: #6A636A;
    padding: 16px;
    color: #FFF;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
}

.apresentacao__login__cadastro {
    display: flex;
    justify-content: center;
}

.apresentacao__login__cadastro__link {
    text-decoration: none;
    color: #6A636A;
}


/* CSS página home */

.barra_lado {
    background-color: #031C30;
    display: flex;
    width: 300px;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 2% 0;
}

.barra_lado__items {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 8px;
}

.barra_lado__item {
    width: 100%;
    font-size: 22px;
    text-decoration: none;
    color: #FEF5FF;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10%;
    border-radius: 10px;
}

.barra_lado__item.item__ativo {
    background-color: #667A8A;
}

.barra_lado__item:hover {
    background-color: #888;
}

.barra_lado__item__sair {
    width: 100%;
    background-color: #667A8A;
    border: none;
}

.container__principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.listagem__principal {
    background-color: #FEF5FF;
    color: #6A636A;
    width: 80vw;
    height: 90vh;
    padding: 60px 25px;
    border-radius: 10px;
}

.cabecalho__busca {
    height: 200px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cabecalho__busca {
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__busca__input {
    width: 575px;
    height: 58px;
    background-color: #E3BDE7;
    outline: 0;
    border: none;
    border-radius: 15px;
    padding: 20px;
    font-size: 16px;
}

.cabecalho__busca__btn {
    width: 296px;
    height: 112px;
    background-color: #FFF;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 24px;
    color: #3C3A2D;
    border-radius: 10px;
    border: 1px solid #dddcdd;
}

.listagem__principal__items {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.listagem__principal__item {
    width: 100%;
    height: 72px;
    background-color: #E3BDE7;
    border-radius: 15px;
    padding: 16px 24px;
    text-decoration: none;
}

.listagem__principal__item__texto {
    color: #3C3A2D;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 16px;
}

/* CSS página cadastro*/

.apresentacao__login__inputs__cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.apresentacao__login__inputs__cadastro input {
    border-bottom: 1px solid #6A636A;
}